<% layout("layouts/boilerplate") %>
<section class="vw-100 introSection">
	<div class="jumbotron jumbotron-fluid homeJumbotron">
		<div class="container">
			<h1 class="display-4 upcomingEventsHeader">
				<%= user.username %>
			</h1>
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<div class="col">
		<div class="card offset-lg-1" style="width: 20rem">
			<img
				class="card-img-top"
				src="<%= user.images.url %>"
				style="height: 20rem"
				alt=""
			/>
	</div>
	</div>
	<div class="col">
		<h1>HEAR <%=user.username %> </h1>
		<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154567543&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
	</div>
</section>
<% for (let event of events) {%>
	<% if(event.author.equals(user._id)) { %> 
		<!-- <div class="card offset-lg-1" style="width: 10rem">
			<img
				class="card-img-top"
				src="<%= event.images.url %>"
				style="height: 8rem"
				alt=""
			/> -->
			<!-- <div class="card-body showCard">
				<h1 href="/events/<%= event._id %> " class="mb-3 eventTitle">
					<%= event.title %>
				</h1>
				<script></script>
				<h5 class="card-text eventDate"><%= event.date;%></h5>
				<p class="card-text text-muted Type">
					Event Type: <%= event.type %>
				</p>
				<a class="viewEvent" href="/events/<%=event._id%>">View</a>
				<a
					href="https://www.facebook.com/sharer/sharer.php?u=example.org"
					target="_blank"
				>
					<i
						class="fa fa-facebook fbIcon d-flex justify-content-end"
						aria-hidden="true"
					></i>
					<a
					href="https://www.facebook.com/sharer/sharer.php?u=example.org"
					target="_blank"
				>
					<i
						class="fa fa-twitter twitterIcon d-flex justify-content-end"
						aria-hidden="true"
					></i>
				</a>
			</div>
		</div> -->
<% } %> 
		<%}%>
	<!-- </section>
	<section class="col mr-5">
		<label for="event-date" class="searchByDate">Search By Date:</label>
		<form action="/eventByDate/" class="dateInput" method="POST">
			<input type="date" id="date" name="date" />
			<button class="dateSubmit mt-3">Submit</button>
		</form>
		<div
			id="map"
			style="width: 500px; height: 400px"
			class="mt-5 offset-lg--5 mw-100"
		></div>
		<br /><br />

		<script>
			document
				.querySelector(".dateInput")
				.addEventListener("submit", async function (event) {
					const date = event.target.date.value;
					const result = await axios.get(`/eventByDate/${date}`);
				});
		</script>
	</section>
</div>

<script>
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
	const events = {features: <%- JSON.stringify(events) %>};
</script>
<script src="/clusterMap.js"></script> -->

