<% layout("layouts/boilerplate") %>
<section class="vw-100 introSection">
	<div class="jumbotron jumbotron-fluid homeJumbotron">
		<div class="container">
			<h1 class="display-4 upcomingEventsHeader">
				<%= user.username %>
			</h1>
		</div>
	</div>
</section>
	<% if(currentUser.equals(user._id)) { %>
<div class="flex-row-reverse">
	<a href="/addInfo/<%=user._id %> "><i class="fa fa-edit fa-3x d-flex justify-content-end mr-lg-5"
		aria-hidden="true"></i></a>
</div>
<% } %> 
<section class="container">
	<div class="row mt-5">
		<div class="col">
		<div class="card offset-lg-1" style="width: 20rem">
			<img
				class="card-img-top profileImage"
				src="<%= user.images.url %>"
				style="height: 20rem"
				alt=""
			/>
	</div>
	</div>
	<div class="col">
		<h1 class="userHeader">HEAR <%=user.username %> </h1>
		<% if(currentUser.equals(user._id)) { %>
		<a href="/addInfo/<%=user._id %> "><h6>Link to your soundcloud</h6></a>
		<% } %> 
	<iframe width="100%" height="100" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%=user.soundcloudLink %>"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href=" " title="SumoEnvy" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/skeletonstick/stress-eater" title="Stress Eater" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>	
<% if(!user.description) {%> 
	<h6 class="mt-5">No description added yet</h6>
	<% } else { %> 
<h6 class="mt-5 userDescription"><%=user.description %> </h6>
		<% } %> 

</section> 
<div class="section mt-5" style="background-color: black">
	<h4 class="offset-lg-5 int" style="color: white"><%=user.username %>'s events</h4> 
<% for (let event of events) {%>
	<% if(event.author.equals(user._id)) { %> 
	<div class="col">
					
		<div class="offset-lg-1" style="width: 8rem">
			<img
				class="card-img-top"
				src="<%= event.images.url %>"
				style="height: 8rem"
				alt=""
			/>
			<div class="card-body smallCard">
				<h3 href="/events/<%= event._id %> " style="color: white" class="mb-3 eventTitle">
					<%= event.title %> 
				</h3>
				<script></script>
				<h5 class="card-text eventDate"><%= event.date;%></h5>
				
				<a class="viewEvent" href="/events/<%=event._id%>">View</a>
				
				</a>
			</div>
		</div>
	</div>

		<%}%>
			<% } %> 
		

	
		



